@import url(http://fonts.googleapis.com/css?family=Gruppo);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/**
 * Variables
 */
$osdc_primary: #f95766;
$osdc_blue: #00718c;
$osdc_lightblue: lighten($osdc_blue, 10);
$page_bg: #e6f6ff;

/**
 * Main page style
 */
body {
	background-color: $osdc_blue;
	font-family: "Open Sans", sans-serif;
}
#page {
	box-shadow: 0px 0px 15px #000;
	background-color: $page_bg;
}
a {
	color: $osdc_blue;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Gruppo, sans-serif;
}

/**
 * Branding header
 */
#header {
	padding: 20px 0 40px;
}
#site-name a {
	@include ir;
	background-image: url(../images/osdc2014.png);
	background-repeat: no-repeat;
	line-height: 63px;
}
#site-slogan {
	display: none;
}

/**
 * Main navigation
 */
#header nav#block-system-main-menu {
	margin: 30px 0 0;
	//border-top: 1px solid #666;
	//border-bottom: 1px solid #666;
	//background-color: #fff;
	//background-color: rgba(255,255,255,0.6);
	border-bottom: 3px solid $osdc_blue;
	.block-title {
		display: none;
	}
	ul.menu {
		padding: 0;
		margin: 0;
		li {
			list-style: none;
			float: left;
			a {
				padding: 5px 1em;
				display: block;
				font-weight: bold;
				color: $osdc_blue;
				&:hover, &.active {
					color: #fff;
					background-color: $osdc_blue;
					text-decoration: none;
				}
				&:hover {
					background-color: $osdc_lightblue;
				}
			}
		}
	}
}

/**
 * Login box
 */
#header nav#block-system-user-menu,
#header section#block-user-login {
	float: right;
	margin-top: -90px;
	width: auto;
	.block-title {
		display: none;
	}
}

#user-login-form {
	label, input {
		display: inline-block;
	}
	input {
		width: 120px;
		margin-right: 10px;
	}
	#edit-openid-identifier {
		width: 250px;
	}
	.form-item, .form-actions {
		margin: 0;
		float: left;
	}
	.item-list {
		float: left;
	}
	.clear {
		float: left;
		clear: left;
	}
}
#header nav#block-system-user-menu ul,
#user-login-form ul {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		list-style: none;
		margin: 0;
		float: left;
	}
	a {
		background: inherit;
		padding: 0 0.75em;
		margin: 0;
		font-weight: bold;
		color: $osdc_blue;
	}
}

/**
 * Main content
 */
.page-user {
	.field-name-field-logo {
		float: left;
		padding: 0 1em 0.5em 0;
		img {
			padding: 5px;
			border: 1px solid #888;
			background: #fff;
			box-shadow: 1px 1px 1px #000;
		}
	}
}

/**
 * Images
 */
img {
	box-shadow: 3px 3px 5px #444;
}

/**
 * Form elements
 */
input {
	border: 1px solid $osdc_blue;
	border-radius: 5px;
	background-color: #fff;
	background-color: rgba(255,255,255,0.7);
	padding: 3px 5px;
}

/**
 * Listings
 */
.view-news .views-row {
	.field-type-image {
		float: left;
	}
	.field-name-node-link {
		text-align: right;
		font-weight: bold;
		margin-right: 30px;
	}
	#main-content & {
		border-bottom: 4px solid #929EB7;
	}
}

/**
 * News
 */
.node-news {
	.field-name-post-date {
		float: right;
	}
	.field-type-image {
		float: left;
		margin: 0 1em 1em 0;
	}
}

/**
 * Sponsors
 */
.view-sponsors {
	.views-row:after {
		content: "";
		display: table;
		clear: both;
	}
	.views-field-field-logo {
		.front & {
			text-align: center;
		}
		.page-sponsors & {
			float: left;
			margin: 0 1em 1em 0;
		}
	}
}

/**
 * Presentations
 */
.node-type-presentation {

	/**
	 * Title and metadata
	 */
	.field-name-title {
		float: left;
		h2 {
			margin: 0;
		}
	}
	.field-name-field-presentation-format {
		float: right;
		background: none repeat scroll 0% 0% $osdc_blue;
		padding: 1px 10px;
		box-shadow: 1px 1px 3px #666;
		color: #FFF;
		ul, li {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}
	.field-name-body {
		clear: both;
	}

	/**
	 * Author Blocks
	 */
	.author-block {
		.picture {
			float: left;
			margin: 0 1em 1em 0;
			img {
				width: 160px;
				height: auto;
			}
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}

	/**
	 * Ratings and Comments for admins only
	 */
	.field-name-field-rating, .comment-wrapper {
		padding: 1em;
		margin: 1em 0;
		border: 5px dotted #666;
		&:before {
			content: "Only admins see this.";
			color: #fff;
			font-weight: bold;
			font-size: 1em;
			float: right;
			border: 1px solid #444;
			padding: 3px 10px;
			background-color: #d00;
		}
	}

}
.view-presentations {

	/**
	 * Author Block
	 */
	.views-field-view {
		text-align: center;
		float: left;
		width: 150px;
	}

	.views-row.presentation {
		padding-bottom: 20px;
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}

}

/**
 * Regos
 */
#tito-register-form {
	padding: 0 20px;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		border-top: 1px solid #999;
	}
	.tito-ticket {
		clear: both;
		padding: 5px;
		border-bottom: 1px solid #999;
		.tito-ticket-name {
			float: left;
		}
		.tito-ticket-price-quantity {
			float: right;
			div {
				display: inline-block;
			}
			.tito-ticket-price {
				width: 6em;
			}
			.tito-ticket-quantity {
				text-align: center;
				width: 3em;
				input {
					width: 2em;
					text-align: center;
				}
			}
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
	.tito-submit {
		float: right;
		margin-top: 1em;
		background-color: $osdc_lightblue;
		border-color: $osdc_blue;
		color: #fff;
		&:hover {
			background-color: $osdc_blue;
		}
	}
	#tito-footer {
		clear: both;
		p {
			text-align: right;
			font-size: 86%;
			a {
				color: #999;
			}
		}
	}
}

/**
 * Highlights
 */
.region-highlighted {
	.code-of-conduct {
		margin: 0 10px;
		padding: 10px;
		border: 1px solid $osdc_blue;
		box-shadow: 0px 0px 50px #fff;
		p {
			margin: 0.75em;
			text-align: justify;
		}
	}
}
