@import url(http://fonts.googleapis.com/css?family=Gruppo);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/**
 * Variables
 */
/**
 * Main page style
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000315}}
body {
  background-color: #00718c;
  font-family: "Open Sans", sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000319}}
#page {
  box-shadow: 0px 0px 15px #000;
  background-color: #e6f6ff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000323}}
a {
  color: #00718c;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000326}}
h1, h2, h3, h4, h5, h6 {
  font-family: Gruppo, sans-serif;
}

/**
 * Branding header
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000333}}
#header {
  padding: 20px 0 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000336}}
#site-name a {
  display: block !important;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  background-image: url(../images/osdc2014.png);
  background-repeat: no-repeat;
  line-height: 63px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000342}}
#site-slogan {
  display: none;
}

/**
 * Main navigation
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000349}}
#header nav#block-system-main-menu {
  margin: 30px 0 0;
  border-bottom: 3px solid #00718c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000356}}
#header nav#block-system-main-menu .block-title {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000359}}
#header nav#block-system-main-menu ul.menu {
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000362}}
#header nav#block-system-main-menu ul.menu li {
  list-style: none;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000365}}
#header nav#block-system-main-menu ul.menu li a {
  padding: 5px 1em;
  display: block;
  font-weight: bold;
  color: #00718c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000370}}
#header nav#block-system-main-menu ul.menu li a:hover, #header nav#block-system-main-menu ul.menu li a.active {
  color: #fff;
  background-color: #00718c;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000375}}
#header nav#block-system-main-menu ul.menu li a:hover {
  background-color: #009abf;
}

/**
 * Login box
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000387}}
#header nav#block-system-user-menu,
#header section#block-user-login {
  float: right;
  margin-top: -90px;
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000391}}
#header nav#block-system-user-menu .block-title,
#header section#block-user-login .block-title {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000397}}
#user-login-form label, #user-login-form input {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003100}}
#user-login-form input {
  width: 120px;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003104}}
#user-login-form #edit-openid-identifier {
  width: 250px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003107}}
#user-login-form .form-item, #user-login-form .form-actions {
  margin: 0;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003111}}
#user-login-form .item-list {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003114}}
#user-login-form .clear {
  float: left;
  clear: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003120}}
#header nav#block-system-user-menu ul,
#user-login-form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003124}}
#header nav#block-system-user-menu ul li,
#user-login-form ul li {
  list-style: none;
  margin: 0;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003129}}
#header nav#block-system-user-menu ul a,
#user-login-form ul a {
  background: inherit;
  padding: 0 0.75em;
  margin: 0;
  font-weight: bold;
  color: #00718c;
}

/**
 * Main content
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003142}}
.page-user .field-name-field-logo {
  float: left;
  padding: 0 1em 0.5em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003145}}
.page-user .field-name-field-logo img {
  padding: 5px;
  border: 1px solid #888;
  background: #fff;
  box-shadow: 1px 1px 1px #000;
}

/**
 * Images
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003157}}
img {
  box-shadow: 3px 3px 5px #444;
}

/**
 * Form elements
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003164}}
input {
  border: 1px solid #00718c;
  border-radius: 5px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 3px 5px;
}

/**
 * Listings
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003176}}
.view-news .views-row .field-type-image {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003179}}
.view-news .views-row .field-name-node-link {
  text-align: right;
  font-weight: bold;
  margin-right: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003184}}
#main-content .view-news .views-row {
  border-bottom: 4px solid #929EB7;
}

/**
 * News
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003193}}
.node-news .field-name-post-date {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003196}}
.node-news .field-type-image {
  float: left;
  margin: 0 1em 1em 0;
}

/**
 * Sponsors
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003206}}
.view-sponsors .views-row:after {
  content: "";
  display: table;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003212}}
.front .view-sponsors .views-field-field-logo {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003215}}
.page-sponsors .view-sponsors .views-field-field-logo {
  float: left;
  margin: 0 1em 1em 0;
}

/**
 * Presentations
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003225}}
.node-type-presentation {
  /**
   * Title and metadata
   */
  /**
   * Author Blocks
   */
  /**
   * Ratings and Comments for admins only
   */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003230}}
.node-type-presentation .field-name-title {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003232}}
.node-type-presentation .field-name-title h2 {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003236}}
.node-type-presentation .field-name-field-presentation-format {
  float: right;
  background: none repeat scroll 0% 0% #00718c;
  padding: 1px 10px;
  box-shadow: 1px 1px 3px #666;
  color: #FFF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003242}}
.node-type-presentation .field-name-field-presentation-format ul, .node-type-presentation .field-name-field-presentation-format li {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003248}}
.node-type-presentation .field-name-body {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003256}}
.node-type-presentation .author-block .picture {
  float: left;
  margin: 0 1em 1em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003259}}
.node-type-presentation .author-block .picture img {
  width: 160px;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003264}}
.node-type-presentation .author-block:after {
  content: "";
  display: table;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003274}}
.node-type-presentation .field-name-field-rating, .node-type-presentation .comment-wrapper {
  padding: 1em;
  margin: 1em 0;
  border: 5px dotted #666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003278}}
.node-type-presentation .field-name-field-rating:before, .node-type-presentation .comment-wrapper:before {
  content: "Only admins see this.";
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  float: right;
  border: 1px solid #444;
  padding: 3px 10px;
  background-color: #d00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003291}}
.view-presentations {
  /**
   * Author Block
   */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003296}}
.view-presentations .views-field-view {
  text-align: center;
  float: left;
  width: 150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003302}}
.view-presentations .views-row.presentation {
  padding-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003304}}
.view-presentations .views-row.presentation:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Regos
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003316}}
#tito-register-form {
  padding: 0 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003318}}
#tito-register-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003324}}
#tito-register-form .tito-ticket {
  clear: both;
  padding: 5px;
  border-bottom: 1px solid #999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003328}}
#tito-register-form .tito-ticket .tito-ticket-name {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003331}}
#tito-register-form .tito-ticket .tito-ticket-price-quantity {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003333}}
#tito-register-form .tito-ticket .tito-ticket-price-quantity div {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003336}}
#tito-register-form .tito-ticket .tito-ticket-price-quantity .tito-ticket-price {
  width: 6em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003339}}
#tito-register-form .tito-ticket .tito-ticket-price-quantity .tito-ticket-quantity {
  text-align: center;
  width: 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003342}}
#tito-register-form .tito-ticket .tito-ticket-price-quantity .tito-ticket-quantity input {
  width: 2em;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003348}}
#tito-register-form .tito-ticket:after {
  content: "";
  display: table;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003354}}
#tito-register-form .tito-submit {
  float: right;
  margin-top: 1em;
  background-color: #009abf;
  border-color: #00718c;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003360}}
#tito-register-form .tito-submit:hover {
  background-color: #00718c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003364}}
#tito-register-form #tito-footer {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003366}}
#tito-register-form #tito-footer p {
  text-align: right;
  font-size: 86%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003369}}
#tito-register-form #tito-footer p a {
  color: #999;
}

/**
 * Highlights
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003380}}
.region-highlighted .code-of-conduct {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #00718c;
  box-shadow: 0px 0px 50px #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003385}}
.region-highlighted .code-of-conduct p {
  margin: 0.75em;
  text-align: justify;
}

/*
 * @file
 * Print Styles
 * This probably needs work, but it's a good starting point.
 */
/*
 * Body
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\0000314}}
body {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1.4;
  word-spacing: 1.1pt;
  letter-spacing: 0.2pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
  background: none;
  font-size: 11pt;
}

/*
 * Links
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\0000331}}
a {
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
  color: #0000ee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\0000339}}
a[href^="http://"]:after, a[href^="http://"]:visited:after {
  content: "(" attr(href) ")";
  font-size: 10pt;
}

/*
 * Strip background from likely candidates
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\0000374}}
div[id*="wrapper"],
[class*="title"],
[class*="inner"],
header,
footer,
#branding,
#container,
#columns,
.columns-inner,
#content-column,
.content-inner,
.region,
.region-header,
.region-content,
.article,
.article-title,
.article-content,
.comment,
.comment-title,
.comment-content,
.block,
.block-inner,
.block-title,
.block-content,
table,
table * {
  background: none !important;
}

/*
 * Hide various bits of the page
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\0000397}}
.sidebar,
#breadcrumb,
.nav,
.field-type-taxonomy-term-reference,
ul.links,
.feed-icon,
.poll .bar,
.poll .foreground,
.comment-form,
#comment-form,
.book-navigation,
.tabs,
.action-links,
.pager,
.messages,
.help {
  display: none;
}

/*
 * Ensure the display the main content region
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003105}}
#content {
  display: block !important;
}

/*
 * Layout
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003113}}
#header {
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003118}}
.content-inner {
  margin: 0 !important;
  padding: 0 !important;
}

/*
 * HTML elements
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003132}}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  margin: 0;
  padding: 0;
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003140}}
h1 {
  font-size: 14pt;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003145}}
h2 {
  font-size: 13pt;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003150}}
h3 {
  font-size: 12pt;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003157}}
h4,
h5,
h6 {
  font-size: 11pt;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003168}}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
#site-name a,
#site-slogan {
  text-decoration: none !important;
  color: #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003176}}
hgroup a:link, hgroup a:visited {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003182}}
#page-title {
  margin-top: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003192}}
pre,
code,
tt,
samp,
kbd,
var {
  font-size: 10pt;
  font-family: Consolas, "Lucida Console", Menlo, Monaco, "DejaVu Sans Mono", monospace, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003198}}
blockquote {
  margin: 20px;
  padding: 10px;
  font-size: 10pt;
  font-style: italic;
  background: #eeeeee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003207}}
hr {
  background-color: #666666;
}

/*
 * Header, Logo, Site name
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003215}}
#header {
  padding-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003220}}
#logo img {
  padding: 0 10px 0 0;
  margin: 0 !important;
  float: none !important;
}

/*
 * Images
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003230}}
img {
  float: left;
  margin: 4px 20px 10px 0;
  page-break-inside: avoid;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003237}}
a img {
  border: none;
}

/*
 * Tables
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003245}}
table {
  margin: 1px;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003251}}
th {
  border-bottom: 1px solid #333333;
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003257}}
td {
  border-bottom: 1px solid #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003263}}
th,
td {
  padding: 4px 10px 4px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003268}}
tfoot {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003273}}
caption {
  margin-bottom: 10px;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003279}}
thead {
  display: table-header-group;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003284}}
tr {
  page-break-inside: avoid;
}

/*
 * Forms
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003292}}
form {
  margin-bottom: 10px;
}

/*
 * Poll module
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003302}}
.poll .text,
.poll .percent,
.poll .total {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003305}}
.poll form {
  margin-bottom: 0;
}

/*
 * Articles
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003315}}
.node,
.comment {
  margin-bottom: 20px;
  overflow: hidden;
  page-break-inside: avoid;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003321}}
.submitted {
  color: #666666;
  text-decoration: none;
  font-size: 9pt;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/print\.scss}line{font-family:\00003329}}
.submitted a {
  color: #666666;
  text-decoration: none;
  font-size: 9pt;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
