@import url(http://fonts.googleapis.com/css?family=Gruppo);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/**
 * Variables
 */
/**
 * Main page style
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000315}}
body {
  background-color: #00718c;
  font-family: "Open Sans", sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000319}}
#page {
  box-shadow: 0px 0px 15px #000;
  background-color: #e6f6ff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000323}}
a {
  color: #00718c;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000326}}
h1, h2, h3, h4, h5, h6 {
  font-family: Gruppo, sans-serif;
}

/**
 * Branding header
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000333}}
#header {
  padding: 20px 0 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000336}}
#site-name a {
  display: block !important;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  background-image: url(../images/osdc2014.png);
  background-repeat: no-repeat;
  line-height: 63px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000342}}
#site-slogan {
  display: none;
}

/**
 * Main navigation
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000349}}
#header nav#block-system-main-menu {
  margin: 30px 0 0;
  border-bottom: 3px solid #00718c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000356}}
#header nav#block-system-main-menu .block-title {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000359}}
#header nav#block-system-main-menu ul.menu {
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000362}}
#header nav#block-system-main-menu ul.menu li {
  list-style: none;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000365}}
#header nav#block-system-main-menu ul.menu li a {
  padding: 5px 1em;
  display: block;
  font-weight: bold;
  color: #00718c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000370}}
#header nav#block-system-main-menu ul.menu li a:hover, #header nav#block-system-main-menu ul.menu li a.active {
  color: #fff;
  background-color: #00718c;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000375}}
#header nav#block-system-main-menu ul.menu li a:hover {
  background-color: #009abf;
}

/**
 * Login box
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000387}}
#header nav#block-system-user-menu,
#header section#block-user-login {
  float: right;
  margin-top: -90px;
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000391}}
#header nav#block-system-user-menu .block-title,
#header section#block-user-login .block-title {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\0000397}}
#user-login-form label, #user-login-form input {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003100}}
#user-login-form input {
  width: 120px;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003104}}
#user-login-form #edit-openid-identifier {
  width: 250px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003107}}
#user-login-form .form-item, #user-login-form .form-actions {
  margin: 0;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003111}}
#user-login-form .item-list {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003114}}
#user-login-form .clear {
  float: left;
  clear: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003120}}
#header nav#block-system-user-menu ul,
#user-login-form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003124}}
#header nav#block-system-user-menu ul li,
#user-login-form ul li {
  list-style: none;
  margin: 0;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003129}}
#header nav#block-system-user-menu ul a,
#user-login-form ul a {
  background: inherit;
  padding: 0 0.75em;
  margin: 0;
  font-weight: bold;
  color: #00718c;
}

/**
 * Main content
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003142}}
.page-user .field-name-field-logo {
  float: left;
  padding: 0 1em 0.5em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003145}}
.page-user .field-name-field-logo img {
  padding: 5px;
  border: 1px solid #888;
  background: #fff;
  box-shadow: 1px 1px 1px #000;
}

/**
 * Images
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003157}}
img {
  box-shadow: 3px 3px 5px #444;
}

/**
 * Form elements
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003164}}
input {
  border: 1px solid #00718c;
  border-radius: 5px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 3px 5px;
}

/**
 * Listings
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003176}}
.view-news .views-row .field-type-image {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003179}}
.view-news .views-row .field-name-node-link {
  text-align: right;
  font-weight: bold;
  margin-right: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003184}}
#main-content .view-news .views-row {
  border-bottom: 4px solid #929EB7;
}

/**
 * News
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003193}}
.node-news .field-name-post-date {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003196}}
.node-news .field-type-image {
  float: left;
  margin: 0 1em 1em 0;
}

/**
 * Sponsors
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003206}}
.view-sponsors .views-row:after {
  content: "";
  display: table;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003212}}
.front .view-sponsors .views-field-field-logo {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003215}}
.page-sponsors .view-sponsors .views-field-field-logo {
  float: left;
  margin: 0 1em 1em 0;
}

/**
 * Presentations
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003225}}
.node-type-presentation {
  /**
   * Title and metadata
   */
  /**
   * Author Blocks
   */
  /**
   * Ratings and Comments for admins only
   */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003230}}
.node-type-presentation .field-name-title {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003232}}
.node-type-presentation .field-name-title h2 {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003236}}
.node-type-presentation .field-name-field-presentation-format {
  float: right;
  background: none repeat scroll 0% 0% #00718c;
  padding: 1px 10px;
  box-shadow: 1px 1px 3px #666;
  color: #FFF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003242}}
.node-type-presentation .field-name-field-presentation-format ul, .node-type-presentation .field-name-field-presentation-format li {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003248}}
.node-type-presentation .field-name-body {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003256}}
.node-type-presentation .author-block .picture {
  float: left;
  margin: 0 1em 1em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003259}}
.node-type-presentation .author-block .picture img {
  width: 160px;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003264}}
.node-type-presentation .author-block:after {
  content: "";
  display: table;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003274}}
.node-type-presentation .field-name-field-rating, .node-type-presentation .comment-wrapper {
  padding: 1em;
  margin: 1em 0;
  border: 5px dotted #666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003278}}
.node-type-presentation .field-name-field-rating:before, .node-type-presentation .comment-wrapper:before {
  content: "Only admins see this.";
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  float: right;
  border: 1px solid #444;
  padding: 3px 10px;
  background-color: #d00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003291}}
.view-presentations {
  /**
   * Author Block
   */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003296}}
.view-presentations .views-field-view {
  text-align: center;
  float: left;
  width: 150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003302}}
.view-presentations .views-row.presentation {
  padding-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003304}}
.view-presentations .views-row.presentation:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Regos
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003316}}
#tito-register-form {
  padding: 0 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003318}}
#tito-register-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003324}}
#tito-register-form .tito-ticket {
  clear: both;
  padding: 5px;
  border-bottom: 1px solid #999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003328}}
#tito-register-form .tito-ticket .tito-ticket-name {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003331}}
#tito-register-form .tito-ticket .tito-ticket-price-quantity {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003333}}
#tito-register-form .tito-ticket .tito-ticket-price-quantity div {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003336}}
#tito-register-form .tito-ticket .tito-ticket-price-quantity .tito-ticket-price {
  width: 6em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003339}}
#tito-register-form .tito-ticket .tito-ticket-price-quantity .tito-ticket-quantity {
  text-align: center;
  width: 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003342}}
#tito-register-form .tito-ticket .tito-ticket-price-quantity .tito-ticket-quantity input {
  width: 2em;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003348}}
#tito-register-form .tito-ticket:after {
  content: "";
  display: table;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003354}}
#tito-register-form .tito-submit {
  float: right;
  margin-top: 1em;
  background-color: #009abf;
  border-color: #00718c;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003360}}
#tito-register-form .tito-submit:hover {
  background-color: #00718c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003364}}
#tito-register-form #tito-footer {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003366}}
#tito-register-form #tito-footer p {
  text-align: right;
  font-size: 86%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003369}}
#tito-register-form #tito-footer p a {
  color: #999;
}

/**
 * Highlights
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003380}}
.region-highlighted .code-of-conduct {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #00718c;
  box-shadow: 0px 0px 50px #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/www\/osdc\/www\/sites\/all\/themes\/osdc\/sass\/_osdc\.scss}line{font-family:\00003385}}
.region-highlighted .code-of-conduct p {
  margin: 0.75em;
  text-align: justify;
}

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
